<h1 align="center"> IPL Data Pre Processing </h1>

In [1]:
import pandas as pd
import json

<h4 style="color:blue">(1) Process Match Results</h4>

In [2]:
with open('matchsummary.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

    Scorecard     Ground     Margin    Match_Date Team_1 Team_2     Winner
0  Twenty20_1    Chennai  8 wickets  May 26, 2024    KKR    SRH        KKR
1  Twenty20_2    Chennai    36 runs  May 24, 2024     RR    SRH        SRH
2  Twenty20_3  Ahmedabad  4 wickets  May 22, 2024     RR    RCB         RR
3  Twenty20_4  Ahmedabad  8 wickets  May 21, 2024    KKR    SRH        KKR
4  Twenty20_5   Guwahati          -  May 19, 2024     RR    KKR  no result

In [3]:
df_match.shape

(72, 7)

**Using scorecard as a match id to link with other tables**

In [4]:
df_match.rename({'Scorecard': 'match_id'}, axis = 1, inplace = True)
df_match.head()

     match_id     Ground     Margin    Match_Date Team_1 Team_2     Winner
0  Twenty20_1    Chennai  8 wickets  May 26, 2024    KKR    SRH        KKR
1  Twenty20_2    Chennai    36 runs  May 24, 2024     RR    SRH        SRH
2  Twenty20_3  Ahmedabad  4 wickets  May 22, 2024     RR    RCB         RR
3  Twenty20_4  Ahmedabad  8 wickets  May 21, 2024    KKR    SRH        KKR
4  Twenty20_5   Guwahati          -  May 19, 2024     RR    KKR  no result

**Creating a match ids dictionary that maps team names to a unique match id.**

In [5]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['Team_1'] + ' Vs ' + row['Team_2']
    key2 = row['Team_2'] + ' Vs ' + row['Team_1']
    match_ids_dict[key1] = row['match_id']
    #match_ids_dict[key2] = row['match_id']

In [6]:
df_match.to_csv('csv files/matchsummary.csv', index = False)

<h4 style="color:blue">(2) Process Batting Summary</h4>

In [7]:
with open('BattingSummary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
  
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,KKR Vs SRH,SRH,1,AbhishekSharma,b Starc,2,5,0,0,40.00
1,KKR Vs SRH,SRH,2,TravisHead,c Rahmanullah Gurbaz b Arora,0,1,0,0,0.00
2,KKR Vs SRH,SRH,3,RahulTripathi,c Ramandeep Singh b Starc,9,13,1,0,69.23
3,KKR Vs SRH,SRH,4,AidenMarkram,c Starc b Russell,20,23,3,0,86.95
4,KKR Vs SRH,SRH,5,NitishKumar Reddy,c Rahmanullah Gurbaz b Harshit Rana,13,10,1,1,130.00
5,KKR Vs SRH,SRH,6,HeinrichKlaasen,b Harshit Rana,16,17,1,0,94.11
6,KKR Vs SRH,SRH,7,ShahbazAhmed,c Narine b Varun,8,7,0,1,114.28
7,KKR Vs SRH,SRH,8,AbdulSamad,c Rahmanullah Gurbaz b Russell,4,4,0,0,100.00
8,KKR Vs SRH,SRH,9,PatCummins(c),c Starc b Russell,24,19,2,1,126.31
9,KKR Vs SRH,SRH,10,JaydevUnadkat,lbw b Narine,4,11,0,0,36.36
10,KKR Vs SRH,SRH,11,BhuvneshwarKumar,,0,1,0,0,0.00

In [8]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: "out" if len(x)>0 else "not_out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,KKR Vs SRH,SRH,1,AbhishekSharma,b Starc,2,5,0,0,40.00,out
1,KKR Vs SRH,SRH,2,TravisHead,c Rahmanullah Gurbaz b Arora,0,1,0,0,0.00,out
2,KKR Vs SRH,SRH,3,RahulTripathi,c Ramandeep Singh b Starc,9,13,1,0,69.23,out
3,KKR Vs SRH,SRH,4,AidenMarkram,c Starc b Russell,20,23,3,0,86.95,out
4,KKR Vs SRH,SRH,5,NitishKumar Reddy,c Rahmanullah Gurbaz b Harshit Rana,13,10,1,1,130.00,out
5,KKR Vs SRH,SRH,6,HeinrichKlaasen,b Harshit Rana,16,17,1,0,94.11,out
6,KKR Vs SRH,SRH,7,ShahbazAhmed,c Narine b Varun,8,7,0,1,114.28,out
7,KKR Vs SRH,SRH,8,AbdulSamad,c Rahmanullah Gurbaz b Russell,4,4,0,0,100.00,out
8,KKR Vs SRH,SRH,9,PatCummins(c),c Starc b Russell,24,19,2,1,126.31,out
9,KKR Vs SRH,SRH,10,JaydevUnadkat,lbw b Narine,4,11,0,0,36.36,out
10,KKR Vs SRH,SRH,11,BhuvneshwarKumar,,0,1,0,0,0.00,not_out

In [9]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out,match_id
0,KKR Vs SRH,SRH,1,AbhishekSharma,b Starc,2,5,0,0,40.00,out,Twenty20_70
1,KKR Vs SRH,SRH,2,TravisHead,c Rahmanullah Gurbaz b Arora,0,1,0,0,0.00,out,Twenty20_70
2,KKR Vs SRH,SRH,3,RahulTripathi,c Ramandeep Singh b Starc,9,13,1,0,69.23,out,Twenty20_70
3,KKR Vs SRH,SRH,4,AidenMarkram,c Starc b Russell,20,23,3,0,86.95,out,Twenty20_70
4,KKR Vs SRH,SRH,5,NitishKumar Reddy,c Rahmanullah Gurbaz b Harshit Rana,13,10,1,1,130.00,out,Twenty20_70

In [10]:
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,KKR Vs SRH,SRH,1,AbhishekSharma,2,5,0,0,40.00,out,Twenty20_70
1,KKR Vs SRH,SRH,2,TravisHead,0,1,0,0,0.00,out,Twenty20_70
2,KKR Vs SRH,SRH,3,RahulTripathi,9,13,1,0,69.23,out,Twenty20_70
3,KKR Vs SRH,SRH,4,AidenMarkram,20,23,3,0,86.95,out,Twenty20_70
4,KKR Vs SRH,SRH,5,NitishKumar Reddy,13,10,1,1,130.00,out,Twenty20_70
5,KKR Vs SRH,SRH,6,HeinrichKlaasen,16,17,1,0,94.11,out,Twenty20_70
6,KKR Vs SRH,SRH,7,ShahbazAhmed,8,7,0,1,114.28,out,Twenty20_70
7,KKR Vs SRH,SRH,8,AbdulSamad,4,4,0,0,100.00,out,Twenty20_70
8,KKR Vs SRH,SRH,9,PatCummins(c),24,19,2,1,126.31,out,Twenty20_70
9,KKR Vs SRH,SRH,10,JaydevUnadkat,4,11,0,0,36.36,out,Twenty20_70

**Cleanup weird characters**

In [11]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('Ââ€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,KKR Vs SRH,SRH,1,AbhishekSharma,2,5,0,0,40.00,out,Twenty20_70
1,KKR Vs SRH,SRH,2,TravisHead,0,1,0,0,0.00,out,Twenty20_70
2,KKR Vs SRH,SRH,3,RahulTripathi,9,13,1,0,69.23,out,Twenty20_70
3,KKR Vs SRH,SRH,4,AidenMarkram,20,23,3,0,86.95,out,Twenty20_70
4,KKR Vs SRH,SRH,5,NitishKumar Reddy,13,10,1,1,130.00,out,Twenty20_70

In [12]:
df_batting.shape

(738, 11)

In [13]:
df_batting.to_csv('csv files/battingSummary.csv', index = False)

<h4 style="color:blue">(3) Process Bowling Summary</h4>

In [14]:
with open('BlowingSummary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
all_records[:2]

[{'match': 'KKR Vs SRH',
  'bowlingTeam': 'KKR',
  'bowlerName': 'Mitchell Starc',
  'overs': '3',
  'maiden': '0',
  'runs': '14',
  'wickets': '2',
  'economy': '4.66',
  '0s': '11',
  '4s': '2',
  '6s': '0',
  'wides': '0',
  'noBalls': '0'},
 {'match': 'KKR Vs SRH',
  'bowlingTeam': 'KKR',
  'bowlerName': 'Vaibhav Arora',
  'overs': '3',
  'maiden': '0',
  'runs': '24',
  'wickets': '1',
  'economy': '8.00',
  '0s': '9',
  '4s': '2',
  '6s': '1',
  'wides': '4',
  'noBalls': '0'}]

In [15]:
df_bowling = pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head()

(556, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,KKR Vs SRH,KKR,Mitchell Starc,3,0,14,2,4.66,11,2,0,0,0
1,KKR Vs SRH,KKR,Vaibhav Arora,3,0,24,1,8.00,9,2,1,4,0
2,KKR Vs SRH,KKR,Harshit Rana,4,1,24,2,6.00,13,2,1,1,0
3,KKR Vs SRH,KKR,Sunil Narine,4,0,16,1,4.00,9,0,0,0,0
4,KKR Vs SRH,KKR,Andre Russell,2.3,0,19,3,7.60,7,1,1,1,0

In [16]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,KKR Vs SRH,KKR,Mitchell Starc,3,0,14,2,4.66,11,2,0,0,0,Twenty20_70
1,KKR Vs SRH,KKR,Vaibhav Arora,3,0,24,1,8.00,9,2,1,4,0,Twenty20_70
2,KKR Vs SRH,KKR,Harshit Rana,4,1,24,2,6.00,13,2,1,1,0,Twenty20_70
3,KKR Vs SRH,KKR,Sunil Narine,4,0,16,1,4.00,9,0,0,0,0,Twenty20_70
4,KKR Vs SRH,KKR,Andre Russell,2.3,0,19,3,7.60,7,1,1,1,0,Twenty20_70

In [17]:
df_bowling.to_csv('csv files/Blowing_Summary.csv', index = False)

<h4 style="color:blue">(4) Process Players Information</h4>

In [18]:
with open('playerInfo.json') as f:
    data = json.load(f)

In [19]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players.head(10)

(123, 6)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Abhishek Sharma,SRH,Left hand Bat,Slow Left arm Orthodox,Allrounder,
1,Travis Head,SRH,Left hand Bat,Right arm Offbreak,Top order Batter,"A talented, aggressive left-hand batter earmar..."
2,Rahul Tripathi,SRH,Right hand Bat,Right arm Medium,Top order Batter,"A technically correct middle-order batter, Rah..."
3,Aiden Markram,SRH,Right hand Bat,Right arm Offbreak,Opening Batter,The first South Africa captain to win a World ...
4,Nitish Kumar Reddy,SRH,Right hand Bat,Right arm Medium fast,Batting Allrounder,Nitish Kumar Reddy first made headlines when h...
5,Heinrich Klaasenâ€,SRH,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,A wicketkeeper-batter known for his belligeren...
6,Shahbaz Ahmed,SRH,Left hand Bat,Slow Left arm Orthodox,Allrounder,"Shahbaz Ahmed was born in Mewat, Haryana, the ..."
7,Abdul Samad,SRH,Right hand Bat,Legbreak,Batter,
8,Pat Cummins(c),SRH,Right hand Bat,Right arm Fast,Bowler,
9,Jaydev Unadkat,SRH,Right hand Bat,Left arm Medium,Bowler,"A left-arm fast bowler, Jaydev Unadkat led Ind..."

**Cleanup weird characters**

In [20]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Abhishek Sharma,SRH,Left hand Bat,Slow Left arm Orthodox,Allrounder,
1,Travis Head,SRH,Left hand Bat,Right arm Offbreak,Top order Batter,"A talented, aggressive left-hand batter earmar..."
2,Rahul Tripathi,SRH,Right hand Bat,Right arm Medium,Top order Batter,"A technically correct middle-order batter, Rah..."
3,Aiden Markram,SRH,Right hand Bat,Right arm Offbreak,Opening Batter,The first South Africa captain to win a World ...
4,Nitish Kumar Reddy,SRH,Right hand Bat,Right arm Medium fast,Batting Allrounder,Nitish Kumar Reddy first made headlines when h...
5,Heinrich Klaasen,SRH,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,A wicketkeeper-batter known for his belligeren...
6,Shahbaz Ahmed,SRH,Left hand Bat,Slow Left arm Orthodox,Allrounder,"Shahbaz Ahmed was born in Mewat, Haryana, the ..."
7,Abdul Samad,SRH,Right hand Bat,Legbreak,Batter,
8,Pat Cummins(c),SRH,Right hand Bat,Right arm Fast,Bowler,
9,Jaydev Unadkat,SRH,Right hand Bat,Left arm Medium,Bowler,"A left-arm fast bowler, Jaydev Unadkat led Ind..."

In [21]:
df_players[df_players['team'] == 'SRH']

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Abhishek Sharma,SRH,Left hand Bat,Slow Left arm Orthodox,Allrounder,
1,Travis Head,SRH,Left hand Bat,Right arm Offbreak,Top order Batter,"A talented, aggressive left-hand batter earmar..."
2,Rahul Tripathi,SRH,Right hand Bat,Right arm Medium,Top order Batter,"A technically correct middle-order batter, Rah..."
3,Aiden Markram,SRH,Right hand Bat,Right arm Offbreak,Opening Batter,The first South Africa captain to win a World ...
4,Nitish Kumar Reddy,SRH,Right hand Bat,Right arm Medium fast,Batting Allrounder,Nitish Kumar Reddy first made headlines when h...
5,Heinrich Klaasen,SRH,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,A wicketkeeper-batter known for his belligeren...
6,Shahbaz Ahmed,SRH,Left hand Bat,Slow Left arm Orthodox,Allrounder,"Shahbaz Ahmed was born in Mewat, Haryana, the ..."
7,Abdul Samad,SRH,Right hand Bat,Legbreak,Batter,
8,Pat Cummins(c),SRH,Right hand Bat,Right arm Fast,Bowler,
9,Jaydev Unadkat,SRH,Right hand Bat,Left arm Medium,Bowler,"A left-arm fast bowler, Jaydev Unadkat led Ind..."
10,Bhuvneshwar Kumar,SRH,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
11,T Natarajan,SRH,Left hand Bat,Left arm Medium,Bowler,

In [22]:
df_players.to_csv('csv files/palyerInfo.csv', index = False)

clean the data

In [23]:
import pandas as pd

# Correct the file path
csv_file_path = 'csv files/dim_players_images_final.csv'

# Load the CSV file into a DataFrame
try:
    df = pd.read_csv(csv_file_path)
    print("CSV file loaded successfully.")
    
    # Modify the 'batsmanName' column: remove spaces and convert to lowercase
    if 'name' in df.columns:
        #df['batsmanName'] = df['batsmanName'].str.replace(' ', '').str.lower()
        df['name'] = df['name'].str.replace('Ã¢â‚¬', '', regex=False).str.replace(' ', '').str.lower()
        
        # Save the modified DataFrame back to the same CSV file (without creating a new one)
        df.to_csv(csv_file_path, index=False)
        print(f"CSV file '{csv_file_path}' has been updated successfully.")
    else:
        print("Column 'batsmanName' does not exist in the DataFrame.")

except FileNotFoundError:
    print(f"File not found: {csv_file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file loaded successfully.
CSV file 'csv files/dim_players_images_final.csv' has been updated successfully.